.wrapper {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

@font-face {
    font-family:'Nunito Sans',;
    src: url(../fonts/NunitoSans-Regular.ttf);

    font-family:'Nunito Sans-bold', sans-serif;
    src: url(../fonts/NunitoSans-Bold.ttf);

    font-family: 'Nova Mono', monospace;
    src: url(../fonts/NovaMono-Regular.ttf);
}