%nmr {
    font-family: 'Nova Mono', monospace;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}

%ns {
   font-family:'Nunito Sans', sans-serif; 
   font-size: 24px;
   line-height: 33px;
   font-weight: 400;
}

%nsb {
    font-family:'Nunito Sans-bold', sans-serif;
    font-weight: bold;
 }
